.git
.github
.env
.idea
.vscode
node_modules
vendor
public/hot
public/storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docker-compose.yml
Dockerfile
DOCKER_README.md
.dockerignore
npm-debug.log
yarn-debug.log
yarn-error.log
auth.json
